body
{
  color: rgb(255, 255, 255);
  background: #9800a3;
  font-size: 25px;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
.heading
{
 font-size: 18px;
 border-radius: 10px;
 letter-spacing: 10px;
}
label
{
  border-radius: 15px;
  background-color: white;
  color: green;
  font-size: 20px;
  padding: 5px;
}